#root {
   max-width: 1280px;
   margin: 0 auto;
}

.App {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   gap: 20px;
   max-height: 100vh;
   font-family: var(--font);
}


.p-toast { 
   width: 300px;
}

