@import "tailwindcss";

@font-face {
   font-family: "Bubble";
   src: url(/font/BubbleSans-Regular.otf)
      format("opentype");
}

:root {
   line-height: 1.5;
   font-weight: 400;

   color-scheme: light dark;
   color: rgba(255, 255, 255, 0.87);
   background-color: #242424;

   font-synthesis: none;
   text-rendering: optimizeLegibility;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;

   --white: #ffffff;
   --black: #141414;
   --gray: #ffffff1a;

   --primary: #0962b4;

   --font: "Bubble", sans-serif;
}
